# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/

# =========================
# Raw datasets
# =========================
Preprocessing/data/raw/


# =========================
# Processed datasets
# =========================
Preprocessing/data/processed/


#==========================
#Ag2vec data output
#==========================
Ag2vec_Grp_Representation/data_output/Output/
Ag2vec_Grp_Representation/scripts/stance_sample_labeled.csv
# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log